.project-card-link {
  text-decoration: none;
  color: inherit;
}

.project-card.dossier {
  background-color: var(--accent-color);
  border: 1px solid var(--border-color);
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: all 0.3s ease;
}

.project-card.dossier:hover {
  border-color: var(--hover-color);
  box-shadow: 0 0 15px var(--hover-color);
}

.dossier-header {
  padding: 10px;
  background-color: #333;
  border-bottom: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: bold;
}

.dossier-body {
  padding: 20px;
  flex-grow: 1;
  position: relative;
  overflow: hidden;
}



.dossier-body h3, .dossier-body p {
  position: relative;
  z-index: 2;
}

.subject-line, .abstract-line {
  color: var(--paragraph-color);
}

.subject-line span, .abstract-line span {
  color: var(--heading-color);
  font-weight: bold;
}

.dossier-footer {
  padding: 10px;
  text-align: right;
  border-top: 1px solid var(--border-color);
  color: var(--heading-color);
  opacity: 0.6;
}